# Server
PORT=5000

# MongoDB Atlas or local URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/expense-tracker?retryWrites=true&w=majority

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173
